.DS_Store
/.vscode
/.idea
/.build
/Packages/*
!/Packages/SubtitleRenderer
!/Packages/SubtitleRenderer/**
/Packages/SubtitleRenderer/.build
/**/xcshareddata/
/**/Package.resolved
xcuserdata/
DerivedData/
.swiftpm/xcode/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
