.DS_Store
/.vscode
/.idea
/.build
/Packages/*
!/Packages/SubtitleRenderer
!/Packages/SubtitleRenderer/**
!/Packages/DanmakuRenderer
!/Packages/DanmakuRenderer/**
/Packages/DanmakuRenderer/.build
/Packages/DanmakuRenderer/.build/**
/Packages/DanmakuRenderer/.DS_Store
/Packages/SubtitleRenderer/.build
/Packages/SubtitleRenderer/.DS_Store
/**/xcshareddata/
/**/Package.resolved
xcuserdata/
DerivedData/
.swiftpm/xcode/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
